*{
  margin: 0;
  padding: 0;
}
.main{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;  
}
.con1{
  text-align: center;
  line-height: 250%;
  font-size: 20px;
  color:#CCFF00;
  padding-bottom: 150px;
}
.b11{
  justify-content: center;
}
.b1{
height: 80px;
width: 190px;
background-color: rgb(20, 167, 7);
font-family:Raleway,sans-serif;
color: aliceblue;
font-weight: 530px;
font-size: 20px;
letter-spacing: 1px;
padding: 12px 32px;
border-radius: 50px;
border: 2px;
margin: 10px;
}
.hero{
  background: -moz-linear-gradient(left center, transparent, white) repeat scroll 0 0 transparent;
    display: flex;
    height: 100vh;
    width: auto;
    padding: 30 30;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.vid1 {
  position:absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  }
  @media(min-aspect-ratio: 16/9) {
    .vid1{
      width: 100%;
      height: auto;
    }
  }
  @media(max-aspect-ratio: 16/9) {
    .vid1{
      width: auto;
      height: 100%;
    }
  }